Preliminary Data Review
21/06/17

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import matplotlib.patches as mpatches
import seaborn as sns
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score
from matplotlib.backends.backend_pdf import PdfPages 

from sklearn.tree import export_graphviz
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

import os
import gmplot
import gmaps
import time, datetime
%matplotlib inline

C:\Users\Cara\Anaconda3\envs\summer_project_windows_1_0\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

# Notebook for Nov 6th, 2012
Actions to complete: Standard cleaning process; remove any duplicate lines and constant columns. Add headers for clarity. Apply gmap plugin for visualisation.
    Group by journey_pattern_id and timestamp. View unique values in chosen column and review range of values in other columns, i.e. how many vjids in one day on one route?

In [2]:
#df1=pd.read_csv('16_data.csv')
print(os.getcwd())
Frame = pd.read_csv('siri.20121106.csv') #enter local csv path
Frame.columns = ["Timestamp", "LineID", "Direction", "JourneyPatternID", "Date", "VehicleJourneyID", "Operator", "Congestion", "Long.", "Lat.", "Delay", "BlockID", "VehicleID","StopID", "At_Stop"]
Frame.to_csv('nov1_new.csv', index="False") #new csv with headers
df2=pd.read_csv('nov1_new.csv') #new file
df2.head(6)

C:\Users\Cara\Documents\COMPSCI\1A_PRACTICUM\DublinBus\models\feature_understanding

C:\Users\Cara\Anaconda3\envs\summer_project_windows_1_0\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Cara\Anaconda3\envs\summer_project_windows_1_0\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Timestamp,LineID,Direction,JourneyPatternID,Date,VehicleJourneyID,Operator,Congestion,Long.,Lat.,Delay,BlockID,VehicleID,StopID,At_Stop
0,0,1352160000000000,46,0,046A1002,2012-11-05,7267,D2,0,-6.259093,53.345425,-1101,46004,36024,794,0
1,1,1352160000000000,14,0,00140001,2012-11-05,6206,D2,0,-6.257329,53.287521,-126,14003,33325,1047,0
2,2,1352160002000000,41,0,041B0002,2012-11-05,61,SL,0,-6.264167,53.453217,-623,41008,33631,3874,1
3,3,1352160002000000,63,0,null,2012-11-05,1116,D2,0,-6.171050,53.259201,292,63003,33137,3283,0
4,4,1352160002000000,39,0,039A1002,2012-11-05,3795,PO,0,-6.262447,53.346767,-532,39026,36060,1479,0
5,5,1352160002000000,65,0,00650001,2012-11-05,4004,RD,0,-6.594641,53.129776,-287,65003,38004,7283,0

In [3]:
del df2["Unnamed: 0"] #drop column added "Unnamed: 0"
#list(df2)

In [4]:
df2.head(10)

,Timestamp,LineID,Direction,JourneyPatternID,Date,VehicleJourneyID,Operator,Congestion,Long.,Lat.,Delay,BlockID,VehicleID,StopID,At_Stop
0,1352160000000000,46,0,046A1002,2012-11-05,7267,D2,0,-6.259093,53.345425,-1101,46004,36024,794,0
1,1352160000000000,14,0,00140001,2012-11-05,6206,D2,0,-6.257329,53.287521,-126,14003,33325,1047,0
2,1352160002000000,41,0,041B0002,2012-11-05,61,SL,0,-6.264167,53.453217,-623,41008,33631,3874,1
3,1352160002000000,63,0,null,2012-11-05,1116,D2,0,-6.171050,53.259201,292,63003,33137,3283,0
4,1352160002000000,39,0,039A1002,2012-11-05,3795,PO,0,-6.262447,53.346767,-532,39026,36060,1479,0
5,1352160002000000,65,0,00650001,2012-11-05,4004,RD,0,-6.594641,53.129776,-287,65003,38004,7283,0
6,1352160002000000,40,0,040D1001,2012-11-05,2466,HN,0,-6.258850,53.362499,-488,40207,33274,52,0
7,1352160002000000,4,0,null,2012-11-05,5076,HN,0,-6.261073,53.352112,0,4003,43035,4725,0
8,1352160002000000,11,0,00111002,2012-11-05,5241,D1,0,-6.230217,53.323002,-536,11001,33462,320,0
9,1352160002000000,31,0,00311001,2012-11-05,2819,CF,0,-6.241683,53.362484,-386,31006,33232,613,0

In [5]:
df2.shape

(1765911, 15)

Check count of each column. Line id missing some values

In [6]:
df2.count()

Timestamp           1765911
LineID              1756387
Direction           1765911
JourneyPatternID    1765847
Date                1765911
VehicleJourneyID    1765911
Operator            1765911
Congestion          1765911
Long.               1765911
Lat.                1765911
Delay               1765911
BlockID             1765911
VehicleID           1765911
StopID              1765911
At_Stop             1765911
dtype: int64

No duplicate rows found.

In [7]:
df2 = df2.drop_duplicates() 
df2.shape

(1765911, 15)

In [8]:
df2.dtypes

Timestamp             int64
LineID               object
Direction             int64
JourneyPatternID     object
Date                 object
VehicleJourneyID      int64
Operator             object
Congestion            int64
Long.               float64
Lat.                float64
Delay                 int64
BlockID               int64
VehicleID             int64
StopID               object
At_Stop               int64
dtype: object

Viewed column data types and altered chosen columns to category. This is commented out as subsequent operations did not run on 'category' columns. Categorising columns is useful when applying .describe() function cleanly.

In [9]:
# df2['LineID'] = df2['LineID'].astype('category')
# df2['Direction'] = df2['Direction'].astype('category')
# df2['JourneyPatternID'] = df2['JourneyPatternID'].astype('category')
# df2['Date'] = df2['Date'].astype('category')
# df2['VehicleJourneyID'] = df2['VehicleJourneyID'].astype('category')
# df2['Operator'] = df2['Operator'].astype('category')
# df2['Congestion'] = df2['Congestion'].astype('category')
# df2['BlockID'] = df2['BlockID'].astype('category')
# df2['VehicleID'] = df2['VehicleID'].astype('category')
# df2['VehicleJourneyID'] = df2['VehicleJourneyID'].astype('category')
# df2['StopID'] = df2['StopID'].astype('category')
# df2['At_Stop'] = df2['At_Stop'].astype('category')

In [10]:
df2.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Timestamp,1.76591e+06,NaN,NaN,NaN,1.35221e+15,1.76462e+10,1.35216e+15,1.3522e+15,1.35221e+15,1.35223e+15,1.35225e+15
LineID,1.75639e+06,142,15,83495,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Direction,1.76591e+06,NaN,NaN,NaN,0,0,0,0,0,0,0
JourneyPatternID,1765847,446,null,270084,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Date,1765911,2,2012-11-06,1756162,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VehicleJourneyID,1.76591e+06,NaN,NaN,NaN,8237.11,63927.5,1,2079,4097,5809,999390
Operator,1765911,8,HN,319324,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Congestion,1.76591e+06,NaN,NaN,NaN,0.0110793,0.104673,0,0,0,0,1
Long.,1.76591e+06,NaN,NaN,NaN,-6.2713,0.0818593,-6.61503,-6.30648,-6.26107,-6.23317,-6.0531
Lat.,1.76591e+06,NaN,NaN,NaN,53.3445,0.0546307,53.0704,53.3201,53.3463,53.3725,53.6065
Delay,1.76591e+06,NaN,NaN,NaN,75.604,457.363,-4070,-110,0,221,19844
BlockID,1.76591e+06,NaN,NaN,NaN,123297,213969,1001,17003,41001,123003,835002
VehicleID,1.76591e+06,NaN,NaN,NaN,34911.2,3246.36,24549,33250,33492,36059,43060
StopID,1765911,4716,null,105009,NaN,NaN,NaN,NaN,NaN,NaN,NaN
At_Stop,1.76591e+06,NaN,NaN,NaN,0.215326,0.411048,0,0,0,0,1

In [11]:
df2.dtypes

Timestamp             int64
LineID               object
Direction             int64
JourneyPatternID     object
Date                 object
VehicleJourneyID      int64
Operator             object
Congestion            int64
Long.               float64
Lat.                float64
Delay                 int64
BlockID               int64
VehicleID             int64
StopID               object
At_Stop               int64
dtype: object

In [12]:
continuous_cols = ['Timestamp', 'Long.', 'Lat.', 'Delay']
#df2.select_dtypes(['int64', 'float64']).columns
df2contDesc = df2[continuous_cols].describe().T
df2contDesc
#spliting columns by dtypes to run queries on nulls etc.

,count,mean,std,min,25%,50%,75%,max
Timestamp,1765911.0,1.352211e+15,1.764619e+10,1.352160e+15,1.352195e+15,1.352211e+15,1.352225e+15,1.352246e+15
Long.,1765911.0,-6.271300e+00,8.185930e-02,-6.615033e+00,-6.306483e+00,-6.261075e+00,-6.233166e+00,-6.053100e+00
Lat.,1765911.0,5.334447e+01,5.463074e-02,5.307044e+01,5.332006e+01,5.334629e+01,5.337248e+01,5.360652e+01
Delay,1765911.0,7.560399e+01,4.573627e+02,-4.070000e+03,-1.100000e+02,0.000000e+00,2.210000e+02,1.984400e+04

In [13]:
categ_cols = ['LineID', 'JourneyPatternID', 'Date', 'VehicleJourneyID', 'Operator', 'Congestion', 'BlockID', 'VehicleID', 'StopID', 'At_Stop']
df2[categ_cols].describe(include = 'all') #include = all allows description of various column types

,LineID,JourneyPatternID,Date,VehicleJourneyID,Operator,Congestion,BlockID,VehicleID,StopID,At_Stop
count,1756387.0,1765847,1765911,1.765911e+06,1765911,1.765911e+06,1.765911e+06,1.765911e+06,1765911,1.765911e+06
unique,142.0,446,2,NaN,8,NaN,NaN,NaN,4716,NaN
top,15.0,null,2012-11-06,NaN,HN,NaN,NaN,NaN,null,NaN
freq,83495.0,270084,1756162,NaN,319324,NaN,NaN,NaN,105009,NaN
mean,NaN,NaN,NaN,8.237113e+03,NaN,1.107927e-02,1.232975e+05,3.491117e+04,NaN,2.153257e-01
std,NaN,NaN,NaN,6.392750e+04,NaN,1.046734e-01,2.139686e+05,3.246365e+03,NaN,4.110482e-01
min,NaN,NaN,NaN,1.000000e+00,NaN,0.000000e+00,1.001000e+03,2.454900e+04,NaN,0.000000e+00
25%,NaN,NaN,NaN,2.079000e+03,NaN,0.000000e+00,1.700300e+04,3.325000e+04,NaN,0.000000e+00
50%,NaN,NaN,NaN,4.097000e+03,NaN,0.000000e+00,4.100100e+04,3.349200e+04,NaN,0.000000e+00
75%,NaN,NaN,NaN,5.809000e+03,NaN,0.000000e+00,1.230030e+05,3.605900e+04,NaN,0.000000e+00
max,NaN,NaN,NaN,9.993900e+05,NaN,1.000000e+00,8.350020e+05,4.306000e+04,NaN,1.000000e+00

Direction column removed as it contains one unique value, field is constant.

In [14]:
del df2['Direction']
df2.head(3)

,Timestamp,LineID,JourneyPatternID,Date,VehicleJourneyID,Operator,Congestion,Long.,Lat.,Delay,BlockID,VehicleID,StopID,At_Stop
0,1352160000000000,46,046A1002,2012-11-05,7267,D2,0,-6.259093,53.345425,-1101,46004,36024,794,0
1,1352160000000000,14,00140001,2012-11-05,6206,D2,0,-6.257329,53.287521,-126,14003,33325,1047,0
2,1352160002000000,41,041B0002,2012-11-05,61,SL,0,-6.264167,53.453217,-623,41008,33631,3874,1

Overview of categorical column data

In [15]:
# for col_name in df2[categ_cols]:
#     print(col_name, "\n", df2[col_name].unique(), "\n")

Working on stationary data, removing lines with at_stop == 0

In [16]:
df3 = df2.loc[df2["At_Stop"] == 1] #new dataframe for stationary data

In [17]:
df3.shape

(380246, 14)

# Viewing unique LineIDs

In [18]:
dfLine1 = df3.loc[df2["LineID"] == "1"] #LineID contains 1.0 float also
dfLine1.head(2)

,Timestamp,LineID,JourneyPatternID,Date,VehicleJourneyID,Operator,Congestion,Long.,Lat.,Delay,BlockID,VehicleID,StopID,At_Stop
491618,1352196986000000,1,00010001,2012-11-06,5425,RD,0,-6.261950,53.391151,-96,1001,33494,226,1
491830,1352196992000000,1,00011001,2012-11-06,5495,RD,0,-6.212234,53.324200,0,1005,33493,381,1

In [19]:
dfLine1.shape

(1020, 14)

In [20]:
dfLine1['JourneyPatternID'] = dfLine1['JourneyPatternID'].astype('category')

C:\Users\Cara\Anaconda3\envs\summer_project_windows_1_0\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [21]:
#dfLine1['JourneyPatternID'].describe()

In [22]:
#dfLine1['JourneyPatternID'].unique()

In [23]:
dfLine1[categ_cols].describe(include = 'all')

,LineID,JourneyPatternID,Date,VehicleJourneyID,Operator,Congestion,BlockID,VehicleID,StopID,At_Stop
count,1020,1020,1020,1020.00000,1020,1020.0,1020.000000,1020.000000,1020,1020.0
unique,1,5,1,NaN,2,NaN,NaN,NaN,77,NaN
top,1,00011001,2012-11-06,NaN,RD,NaN,NaN,NaN,226,NaN
freq,1020,486,1020,NaN,1006,NaN,NaN,NaN,336,NaN
mean,NaN,NaN,NaN,5474.35000,NaN,0.0,1003.270588,34758.087255,NaN,1.0
std,NaN,NaN,NaN,27.21607,NaN,0.0,1.574863,2087.601855,NaN,0.0
min,NaN,NaN,NaN,5425.00000,NaN,0.0,1001.000000,33211.000000,NaN,1.0
25%,NaN,NaN,NaN,5453.00000,NaN,0.0,1002.000000,33493.000000,NaN,1.0
50%,NaN,NaN,NaN,5473.00000,NaN,0.0,1003.000000,33494.000000,NaN,1.0
75%,NaN,NaN,NaN,5504.00000,NaN,0.0,1005.000000,38001.000000,NaN,1.0
max,NaN,NaN,NaN,5520.00000,NaN,0.0,1006.000000,38003.000000,NaN,1.0

In [24]:
dfLine1[continuous_cols].describe(include = 'all')

          Timestamp        Long.         Lat.        Delay
count  1.020000e+03  1020.000000  1020.000000  1020.000000
mean   1.352229e+15    -6.242206    53.357517   -80.620588
std    1.418322e+10     0.021886     0.027719   347.013195
min    1.352197e+15    -6.265345    53.324017 -1198.000000
25%    1.352229e+15    -6.261983    53.326958  -236.000000
50%    1.352233e+15    -6.255483    53.348591   -11.000000
75%    1.352236e+15    -6.212333    53.391178     0.000000
max    1.352246e+15    -6.207346    53.391335   986.000000

In [25]:
for col_name in dfLine1[categ_cols]:
    print(col_name, "\n", dfLine1[col_name].unique(), "\n", "number of unique values:", len(dfLine1[col_name].unique()), "\n", dfLine1[col_name].value_counts(), "\n")

LineID
 ['1']
 number of unique values: 1
 1    1020
Name: LineID, dtype: int64

JourneyPatternID
 [00010001, 00011001, null, 00010003, 00011002]
Categories (5, object): [00010001, 00011001, null, 00010003, 00011002]
 number of unique values: 5
 00011001    486
00010001    452
00010003     60
00011002     15
null          7
Name: JourneyPatternID, dtype: int64

Date
 ['2012-11-06']
 number of unique values: 1
 2012-11-06    1020
Name: Date, dtype: int64

VehicleJourneyID
 [5425 5495 5512 5444 5462 5481 5470 5503 5452 5520 5489 5433 5490 5471 5453
 5434 5504 5472 5454 5505 5435 5473 5455 5506 5436 5475 5507 5457 5508 5438]
 number of unique values: 30
 5505    94
5435    75
5472    72
5481    64
5508    61
5504    59
5490    54
5434    47
5471    45
5454    45
5453    43
5473    40
5455    34
5495    27
5457    26
5503    22
5512    22
5425    21
5506    21
5507    20
5452    19
5475    16
5438    16
5436    16
5433    16
5520    14
5444    11
5462     9
5470     9
5489     2
Name: VehicleJourneyID, dtype: int64

Operator
 ['RD' 'CD']
 number of unique values: 2
 RD    1006
CD      14
Name: Operator, dtype: int64

Congestion
 [0]
 number of unique values: 1
 0    1020
Name: Congestion, dtype: int64

BlockID
 [1001 1005 1006 1002 1003 1004]
 number of unique values: 6
 1005    304
1003    191
1001    191
1002    178
1004    120
1006     36
Name: BlockID, dtype: int64

VehicleID
 [33494 33493 33495 38001 33211 38003 33521]
 number of unique values: 7
 33493    304
33494    191
33211    191
38001    178
38003    120
33495     22
33521     14
Name: VehicleID, dtype: int64

StopID
 ['226' '381' '354' '48' '399' '49' '356' '400' '357' '51' '319' '227' '372'
 '230' '4451' '374' '265' '383' '231' '384' '278' '271' '1641' '7529' '340'
 '213' '389' '380' '119' '12' '44' '351' '371' '45' '391' '392' '17' '387'
 '18' '19' '393' '52' '85' '373' '395' '205' '1620' '397' '377' '398' '220'
 '350' '221' '222' '203' '204' '214' '4432' '376' '382' '352' '353' '224'
 '225' '396' '390' '10' '375' '47' '14' '355' '15' '21' '223' '229' '378'
 '46']
 number of unique values: 77
 226     336
381     137
380     112
271      58
378      37
278      27
340      22
319      21
265      21
395      18
374      11
354       9
352       8
49        8
351       7
205       7
356       7
45        7
391       7
357       6
392       6
220       6
19        6
396       6
387       6
12        6
203       5
355       5
17        4
372       4
       ...
393       2
85        2
51        2
390       2
389       2
222       2
377       2
383       2
21        2
384       2
52        2
382       2
223       2
15        2
46        2
18        1
119       1
230       1
376       1
214       1
47        1
204       1
229       1
14        1
1641      1
398       1
373       1
224       1
375       1
4451      1
Name: StopID, Length: 77, dtype: int64

At_Stop
 [1]
 number of unique values: 1
 1    1020
Name: At_Stop, dtype: int64

In [26]:
dfROne2 = df3.loc[df2["JourneyPatternID"] == "00010001"]
for col_name in dfROne2[categ_cols]:
    print(col_name, "\n", dfROne2[col_name].unique(), "\n", "number of unique values:", len(dfROne2[col_name].unique()), "\n", dfROne2[col_name].value_counts(), "\n")

LineID
 [1.0 '1']
 number of unique values: 2
 1.0    1896
1       452
Name: LineID, dtype: int64

JourneyPatternID
 ['00010001']
 number of unique values: 1
 00010001    2348
Name: JourneyPatternID, dtype: int64

Date
 ['2012-11-06']
 number of unique values: 1
 2012-11-06    2348
Name: Date, dtype: int64

VehicleJourneyID
 [5461 5494 5512 5462 5444 5425 5495 5513 5482 5463 5496 5514 5446 5427 5484
 5447 5465 5498 5428 5516 5466 5448 5499 5429 5486 5449 5467 5430 5500 5487
 5518 5450 5431 5488 5469 5502 5489 5520 5452 5433 5490 5471 5504 5454 5435
 5473 5506 5456 5437 5475]
 number of unique values: 50
 5456    91
5486    87
5437    86
5435    74
5425    74
5467    72
5461    72
5490    71
5446    70
5484    69
5516    69
5498    69
5473    68
5500    67
5427    65
5475    63
5520    62
5471    62
5429    61
5463    61
5496    60
5448    60
5482    60
5514    59
5506    58
5504    58
5452    57
5512    53
5444    52
5502    51
5488    51
5450    46
5454    44
5518    41
5465    41
5469    37
5433    33
5494    32
5431    31
5430     1
5513     1
5462     1
5466     1
5499     1
5447     1
5449     1
5487     1
5489     1
5495     1
5428     1
Name: VehicleJourneyID, dtype: int64

Operator
 ['RD' 'CD']
 number of unique values: 2
 RD    2172
CD     176
Name: Operator, dtype: int64

Congestion
 [0]
 number of unique values: 1
 0    2348
Name: Congestion, dtype: int64

BlockID
 [1003 1005 1006 1002 1001 1004]
 number of unique values: 6
 1003    478
1001    426
1002    422
1005    397
1004    340
1006    285
Name: BlockID, dtype: int64

VehicleID
 [38004 33493 33495 33211 38001 33494 38003 33521]
 number of unique values: 8
 33211    428
33494    426
38001    422
33493    397
38003    340
33521    176
33495    109
38004     50
Name: VehicleID, dtype: int64

StopID
 ['226' '231' '1641' '1642' '47' '49' '51' '265' '227' '230' '271' '340'
 '350' '213' '352' '119' '353' '354' '44' '355' '48' '229' '52' '380'
 '4432' '45' '381' '50' '356' '357' '374' '372' '351' '46' '390' '214'
 '378' '373' '377' '228' '375' '2804' '376' '4451']
 number of unique values: 44
 380     638
226     496
271     196
340     100
265      81
378      59
49       55
354      51
352      43
374      43
355      42
356      36
45       34
357      32
48       30
353      30
351      29
213      27
231      26
47       24
51       21
52       20
44       19
350      19
46       19
390      18
227      18
229      17
4432     16
372      16
1642     15
119      14
1641     11
381      10
214       9
377       6
50        6
230       5
373       5
2804      4
376       3
375       3
4451      1
228       1
Name: StopID, dtype: int64

At_Stop
 [1]
 number of unique values: 1
 1    2348
Name: At_Stop, dtype: int64

In [27]:
dfROne2VJ = df3.loc[df2["VehicleID"] == 38001]
for col_name in dfROne2VJ[categ_cols]:
    print(col_name, "\n", dfROne2VJ[col_name].unique(), "\n", "number of unique values:", len(dfROne2VJ[col_name].unique()), "\n",  dfROne2VJ[col_name].value_counts(), "\n")

LineID
 [1 '1']
 number of unique values: 2
 1    812
1    178
Name: LineID, dtype: int64

JourneyPatternID
 ['null' '00011002' '00010002' '00011001' '00010001']
 number of unique values: 5
 00010001    422
00011001    410
00011002     88
00010002     62
null          8
Name: JourneyPatternID, dtype: int64

Date
 ['2012-11-06']
 number of unique values: 1
 2012-11-06    990
Name: Date, dtype: int64

VehicleJourneyID
 [5439 5440 5441 5442 5443 5444 5445 5446 5447 5448 5449 5450 5451 5452 5453
 5454 5455 5456 5457]
 number of unique values: 19
 5456    92
5455    77
5446    71
5449    67
5457    66
5448    60
5439    60
5452    57
5445    57
5444    53
5450    47
5454    45
5453    43
5447    42
5451    37
5442    35
5441    29
5440    28
5443    24
Name: VehicleJourneyID, dtype: int64

Operator
 ['RD']
 number of unique values: 1
 RD    990
Name: Operator, dtype: int64

Congestion
 [0]
 number of unique values: 1
 0    990
Name: Congestion, dtype: int64

BlockID
 [1002]
 number of unique values: 1
 1002    990
Name: BlockID, dtype: int64

VehicleID
 [38001]
 number of unique values: 1
 38001    990
Name: VehicleID, dtype: int64

StopID
 ['381' '382' '384' '387' '392' '395' '398' '399' '319' '278' '10' '271'
 '340' '351' '354' '355' '356' '377' '378' '380' '389' '371' '391' '396'
 '397' '265' '350' '352' '353' '357' '390' '374' '375' '2804' '385' '393'
 '21' '204' '220' '221' '226' '229' '227' '231' '213' '4432' '119' '45'
 '48' '49' '51' '372' '383' '7529' '14' '15' '19' '225' '52' '373' '46'
 '47' '388' '17' '203' '205' '1620' '223' '1641' '12' '85' '224' '44' '376'
 '400']
 number of unique values: 75
 380     179
226     167
381     145
10       51
271      32
278      30
395      28
265      23
340      21
319      18
396      17
392      16
354      15
49       13
352      12
378      11
387       9
374       9
399       8
391       8
371       7
357       7
398       6
353       6
7529      6
356       6
19        6
384       5
350       5
351       5
       ...
389       3
221       3
229       3
223       3
390       3
220       3
372       3
21        3
15        3
377       2
119       2
227       2
14        2
397       2
373       2
383       2
46        2
2804      2
12        2
47        2
224       1
44        1
213       1
400       1
388       1
4432      1
376       1
85        1
375       1
1641      1
Name: StopID, Length: 75, dtype: int64

At_Stop
 [1]
 number of unique values: 1
 1    990
Name: At_Stop, dtype: int64

# Viewing individual JourneyPatternIDs

In [28]:
dfROne = df3.loc[df2["JourneyPatternID"] == "00010001"] #2348 entries #LINE 1 AND JPID=00010001
# an earlier dataframe is used to prevent the loss of lines with correct JPID but wrong LineID (possible errors)
#dfROne = dfLine1.loc[dfLine1["JourneyPatternID"] == "00010001"] #2348 entries, LINEID = 1 AND JPID=00010001
dfROne.head(3)

,Timestamp,LineID,JourneyPatternID,Date,VehicleJourneyID,Operator,Congestion,Long.,Lat.,Delay,BlockID,VehicleID,StopID,At_Stop
324229,1352192100000000,1,00010001,2012-11-06,5461,RD,0,-6.261933,53.391216,-240,1003,38004,226,1
324989,1352192123000000,1,00010001,2012-11-06,5461,RD,0,-6.261933,53.391216,-220,1003,38004,226,1
325656,1352192141000000,1,00010001,2012-11-06,5461,RD,0,-6.261933,53.391216,-200,1003,38004,226,1

In [29]:
dfROne.shape

(2348, 14)

In [30]:
dfROne[categ_cols].describe(include='all')

,LineID,JourneyPatternID,Date,VehicleJourneyID,Operator,Congestion,BlockID,VehicleID,StopID,At_Stop
count,2348.0,2348,2348,2348.000000,2348,2348.0,2348.000000,2348.000000,2348,2348.0
unique,2.0,1,1,NaN,2,NaN,NaN,NaN,44,NaN
top,1.0,00010001,2012-11-06,NaN,RD,NaN,NaN,NaN,380,NaN
freq,1896.0,2348,2348,NaN,2172,NaN,NaN,NaN,638,NaN
mean,NaN,NaN,NaN,5472.012351,NaN,0.0,1003.304514,35003.307496,NaN,1.0
std,NaN,NaN,NaN,28.390354,NaN,0.0,1.651492,2183.265235,NaN,0.0
min,NaN,NaN,NaN,5425.000000,NaN,0.0,1001.000000,33211.000000,NaN,1.0
25%,NaN,NaN,NaN,5448.000000,NaN,0.0,1002.000000,33493.000000,NaN,1.0
50%,NaN,NaN,NaN,5471.000000,NaN,0.0,1003.000000,33494.000000,NaN,1.0
75%,NaN,NaN,NaN,5498.000000,NaN,0.0,1005.000000,38001.000000,NaN,1.0
max,NaN,NaN,NaN,5520.000000,NaN,0.0,1006.000000,38004.000000,NaN,1.0

In [31]:
#dfROne[continuous_cols].describe()

In [32]:
dfROne[categ_cols].describe()

       VehicleJourneyID  Congestion      BlockID     VehicleID  At_Stop
count       2348.000000      2348.0  2348.000000   2348.000000   2348.0
mean        5472.012351         0.0  1003.304514  35003.307496      1.0
std           28.390354         0.0     1.651492   2183.265235      0.0
min         5425.000000         0.0  1001.000000  33211.000000      1.0
25%         5448.000000         0.0  1002.000000  33493.000000      1.0
50%         5471.000000         0.0  1003.000000  33494.000000      1.0
75%         5498.000000         0.0  1005.000000  38001.000000      1.0
max         5520.000000         0.0  1006.000000  38004.000000      1.0

In [33]:
#print(dfROne["Timestamp"])
# for line in dfROne:
#     #dfROne["Time"] = dfROne["Timestamp"].astype('datetime64[ns]')
#     dfROne["Time"] = datetime.datetime.fromtimestamp(dfROne["Timestamp"].astype('int')).strftime('%c')
#     #'2012-09-13 02:22:50'
#     dfROne.head(6)

In [34]:
dfROne

,Timestamp,LineID,JourneyPatternID,Date,VehicleJourneyID,Operator,Congestion,Long.,Lat.,Delay,BlockID,VehicleID,StopID,At_Stop
324229,1352192100000000,1,00010001,2012-11-06,5461,RD,0,-6.261933,53.391216,-240,1003,38004,226,1
324989,1352192123000000,1,00010001,2012-11-06,5461,RD,0,-6.261933,53.391216,-220,1003,38004,226,1
325656,1352192141000000,1,00010001,2012-11-06,5461,RD,0,-6.261933,53.391216,-200,1003,38004,226,1
326473,1352192162000000,1,00010001,2012-11-06,5461,RD,0,-6.261933,53.391216,-180,1003,38004,226,1
327149,1352192180000000,1,00010001,2012-11-06,5461,RD,0,-6.261933,53.391216,-160,1003,38004,226,1
327936,1352192201000000,1,00010001,2012-11-06,5461,RD,0,-6.261933,53.391216,-140,1003,38004,226,1
328789,1352192223000000,1,00010001,2012-11-06,5461,RD,0,-6.261933,53.391216,-120,1003,38004,226,1
329417,1352192240000000,1,00010001,2012-11-06,5461,RD,0,-6.261933,53.391216,-100,1003,38004,226,1
330165,1352192260000000,1,00010001,2012-11-06,5461,RD,0,-6.261933,53.391216,-80,1003,38004,226,1
330899,1352192281000000,1,00010001,2012-11-06,5461,RD,0,-6.261933,53.391216,-60,1003,38004,226,1
331784,1352192303000000,1,00010001,2012-11-06,5461,RD,0,-6.261933,53.391216,-40,1003,38004,226,1
332308,1352192322000000,1,00010001,2012-11-06,5461,RD,0,-6.261933,53.391216,-20,1003,38004,226,1
333161,1352192342000000,1,00010001,2012-11-06,5461,RD,0,-6.261933,53.391216,0,1003,38004,226,1
345259,1352192681000000,1,00010001,2012-11-06,5461,RD,0,-6.246041,53.389191,35,1003,38004,231,1
346034,1352192702000000,1,00010001,2012-11-06,5461,RD,0,-6.246041,53.389191,60,1003,38004,231,1
348990,1352192782000000,1,00010001,2012-11-06,5461,RD,0,-6.242439,53.386570,4,1003,38004,1641,1
352529,1352192878000000,1,00010001,2012-11-06,5461,RD,0,-6.243611,53.384007,4,1003,38004,1642,1
352669,1352192882000000,1,00010001,2012-11-06,5461,RD,0,-6.243611,53.384007,25,1003,38004,1642,1
369456,1352193342000000,1,00010001,2012-11-06,5461,RD,0,-6.257374,53.363998,-139,1003,38004,47,1
374463,1352193481000000,1,00010001,2012-11-06,5461,RD,0,-6.260980,53.360065,-171,1003,38004,49,1
375176,1352193502000000,1,00010001,2012-11-06,5461,RD,0,-6.260980,53.360065,-171,1003,38004,49,1
378036,1352193582000000,1,00010001,2012-11-06,5461,RD,0,-6.263332,53.357899,-192,1003,38004,51,1
379003,1352193606000000,1,00010001,2012-11-06,5494,RD,0,-6.261933,53.391167,0,1005,33493,226,1
379656,1352193625000000,1,00010001,2012-11-06,5494,RD,0,-6.261933,53.391167,24,1005,33493,226,1
380388,1352193645000000,1,00010001,2012-11-06,5494,RD,0,-6.261933,53.391167,44,1005,33493,226,1
381198,1352193668000000,1,00010001,2012-11-06,5494,RD,0,-6.261933,53.391167,64,1005,33493,226,1
383758,1352193741000000,1,00010001,2012-11-06,5461,RD,0,-6.262030,53.353359,-339,1003,38004,265,1
386047,1352193805000000,1,00010001,2012-11-06,5494,RD,0,-6.251322,53.391087,59,1005,33493,227,1
388079,1352193867000000,1,00010001,2012-11-06,5494,RD,0,-6.249222,53.389858,77,1005,33493,230,1
388575,1352193883000000,1,00010001,2012-11-06,5461,RD,0,-6.259525,53.348591,-412,1003,38004,271,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1731032,1352243609000000,1,00010001,2012-11-06,5437,RD,0,-6.212100,53.324100,-184,1001,33494,380,1
1731355,1352243629000000,1,00010001,2012-11-06,5437,RD,0,-6.212133,53.324100,-184,1001,33494,380,1
1731508,1352243638000000,1,00010001,2012-11-06,5437,RD,0,-6.212133,53.324100,-123,1001,33494,380,1
1731685,1352243648000000,1,00010001,2012-11-06,5437,RD,0,-6.212100,53.324085,-123,1001,33494,380,1
1732015,1352243668000000,1,00010001,2012-11-06,5437,RD,0,-6.212083,53.324085,-123,1001,33494,380,1
1732284,1352243689000000,1,00010001,2012-11-06,5437,RD,0,-6.212100,53.324085,-123,1001,33494,380,1
1732416,1352243697000000,1,00010001,2012-11-06,5437,RD,0,-6.212100,53.324085,-63,1001,33494,380,1
1732642,1352243709000000,1,00010001,2012-11-06,5437,RD,0,-6.212083,53.324100,-63,1001,33494,380,1
1732837,1352243727000000,1,00010001,2012-11-06,5437,RD,0,-6.212067,53.324100,-63,1001,33494,380,1
1733242,1352243750000000,1,00010001,2012-11-06,5437,RD,0,-6.212117,53.324085,-63,1001,33494,380,1
1733384,1352243758000000,1,00010001,2012-11-06,5437,RD,0,-6.212117,53.324085,-3,1001,33494,380,1
1733564,1352243768000000,1,00010001,2012-11-06,5437,RD,0,-6.212133,53.324085,-3,1001,33494,380,1
1733893,1352243788000000,1,00010001,2012-11-06,5437,RD,0,-6.212117,53.324066,-3,1001,33494,380,1
1734174,1352243809000000,1,00010001,2012-11-06,5437,RD,0,-6.212150,53.324066,-3,1001,33494,380,1
1736796,1352243982000000,1,00010001,2012-11-06,5475,RD,0,-6.255481,53.367157,352,1003,33211,46,1
1742426,1352244362000000,1,00010001,2012-11-06,5475,RD,0,-6.259525,53.348591,49,1003,33211,271,1
1742647,1352244383000000,1,00010001,2012-11-06,5475,RD,0,-6.259525,53.348591,69,1003,33211,271,1
1742979,1352244403000000,1,00010001,2012-11-06,5475,RD,0,-6.259525,53.348591,89,1003,33211,271,1
1743318,1352244423000000,1,00010001,2012-11-06,5475,RD,0,-6.259525,53.348591,109,1003,33211,271,1
1743531,1352244444000000,1,00010001,2012-11-06,5475,RD,0,-6.259525,53.348591,129,1003,33211,271,1
1743799,1352244462000000,1,00010001,2012-11-06,5475,RD,0,-6.259525,53.348591,149,1003,33211,271,1
1744156,1352244483000000,1,00010001,2012-11-06,5475,RD,0,-6.259525,53.348591,170,1003,33211,271,1
1744389,1352244503000000,1,00010001,2012-11-06,5475,RD,0,-6.259525,53.348591,190,1003,33211,271,1
1744718,1352244523000000,1,00010001,2012-11-06,5475,RD,0,-6.259525,53.348591,209,1003,33211,271,1
1745048,1352244544000000,1,00010001,2012-11-06,5475,RD,0,-6.259525,53.348591,229,1003,33211,271,1
1745285,1352244564000000,1,00010001,2012-11-06,5475,RD,0,-6.259525,53.348591,249,1003,33211,271,1
1745550,1352244582000000,1,00010001,2012-11-06,5475,RD,0,-6.259525,53.348591,269,1003,33211,271,1
1745828,1352244603000000,1,00010001,2012-11-06,5475,RD,0,-6.259525,53.348591,289,1003,33211,271,1
1746144,1352244625000000,1,00010001,2012-11-06,5475,RD,0,-6.259525,53.348591,309,1003,33211,271,1
1750782,1352244965000000,1,00010001,2012-11-06,5475,RD,0,-6.223070,53.339077,-119,1003,33211,357,1

Vehicle journey as single unique time made on this route on this day?

In [35]:
for col_name in dfROne[categ_cols]:
    print(col_name, "\n", dfROne[col_name].unique(), "\n", "number of unique values:", len(dfROne[col_name].unique()), "\n",  dfROne[col_name].value_counts(), "\n")

LineID
 [1.0 '1']
 number of unique values: 2
 1.0    1896
1       452
Name: LineID, dtype: int64

JourneyPatternID
 ['00010001']
 number of unique values: 1
 00010001    2348
Name: JourneyPatternID, dtype: int64

Date
 ['2012-11-06']
 number of unique values: 1
 2012-11-06    2348
Name: Date, dtype: int64

VehicleJourneyID
 [5461 5494 5512 5462 5444 5425 5495 5513 5482 5463 5496 5514 5446 5427 5484
 5447 5465 5498 5428 5516 5466 5448 5499 5429 5486 5449 5467 5430 5500 5487
 5518 5450 5431 5488 5469 5502 5489 5520 5452 5433 5490 5471 5504 5454 5435
 5473 5506 5456 5437 5475]
 number of unique values: 50
 5456    91
5486    87
5437    86
5435    74
5425    74
5467    72
5461    72
5490    71
5446    70
5484    69
5516    69
5498    69
5473    68
5500    67
5427    65
5475    63
5520    62
5471    62
5429    61
5463    61
5496    60
5448    60
5482    60
5514    59
5506    58
5504    58
5452    57
5512    53
5444    52
5502    51
5488    51
5450    46
5454    44
5518    41
5465    41
5469    37
5433    33
5494    32
5431    31
5430     1
5513     1
5462     1
5466     1
5499     1
5447     1
5449     1
5487     1
5489     1
5495     1
5428     1
Name: VehicleJourneyID, dtype: int64

Operator
 ['RD' 'CD']
 number of unique values: 2
 RD    2172
CD     176
Name: Operator, dtype: int64

Congestion
 [0]
 number of unique values: 1
 0    2348
Name: Congestion, dtype: int64

BlockID
 [1003 1005 1006 1002 1001 1004]
 number of unique values: 6
 1003    478
1001    426
1002    422
1005    397
1004    340
1006    285
Name: BlockID, dtype: int64

VehicleID
 [38004 33493 33495 33211 38001 33494 38003 33521]
 number of unique values: 8
 33211    428
33494    426
38001    422
33493    397
38003    340
33521    176
33495    109
38004     50
Name: VehicleID, dtype: int64

StopID
 ['226' '231' '1641' '1642' '47' '49' '51' '265' '227' '230' '271' '340'
 '350' '213' '352' '119' '353' '354' '44' '355' '48' '229' '52' '380'
 '4432' '45' '381' '50' '356' '357' '374' '372' '351' '46' '390' '214'
 '378' '373' '377' '228' '375' '2804' '376' '4451']
 number of unique values: 44
 380     638
226     496
271     196
340     100
265      81
378      59
49       55
354      51
352      43
374      43
355      42
356      36
45       34
357      32
48       30
353      30
351      29
213      27
231      26
47       24
51       21
52       20
44       19
350      19
46       19
390      18
227      18
229      17
4432     16
372      16
1642     15
119      14
1641     11
381      10
214       9
377       6
50        6
230       5
373       5
2804      4
376       3
375       3
4451      1
228       1
Name: StopID, dtype: int64

At_Stop
 [1]
 number of unique values: 1
 1    2348
Name: At_Stop, dtype: int64

In [36]:
dfROne.dtypes

Timestamp             int64
LineID               object
JourneyPatternID     object
Date                 object
VehicleJourneyID      int64
Operator             object
Congestion            int64
Long.               float64
Lat.                float64
Delay                 int64
BlockID               int64
VehicleID             int64
StopID               object
At_Stop               int64
dtype: object

# Viewing unique VJID

In [37]:
dfUnique = dfROne.loc[dfROne["VehicleJourneyID"] == 5425]
# dfUnique.describe(include = 'all').T
dfUnique.head(4)

,Timestamp,LineID,JourneyPatternID,Date,VehicleJourneyID,Operator,Congestion,Long.,Lat.,Delay,BlockID,VehicleID,StopID,At_Stop
489026,1352196906000000,1,00010001,2012-11-06,5425,RD,0,-6.26195,53.391151,-176,1001,33494,226,1
489699,1352196925000000,1,00010001,2012-11-06,5425,RD,0,-6.26195,53.391151,-156,1001,33494,226,1
490277,1352196945000000,1,00010001,2012-11-06,5425,RD,0,-6.26195,53.391151,-136,1001,33494,226,1
491019,1352196966000000,1,00010001,2012-11-06,5425,RD,0,-6.26195,53.391151,-116,1001,33494,226,1

In [38]:
dfUnique[categ_cols].describe()

       VehicleJourneyID  Congestion  BlockID  VehicleID  At_Stop
count              74.0        74.0     74.0       74.0     74.0
mean             5425.0         0.0   1001.0    33494.0      1.0
std                 0.0         0.0      0.0        0.0      0.0
min              5425.0         0.0   1001.0    33494.0      1.0
25%              5425.0         0.0   1001.0    33494.0      1.0
50%              5425.0         0.0   1001.0    33494.0      1.0
75%              5425.0         0.0   1001.0    33494.0      1.0
max              5425.0         0.0   1001.0    33494.0      1.0

In [39]:
x =dfUnique
for col_name in x:
    print(col_name, "\n", x[col_name].unique(), "\n", "number of unique values:", len(x[col_name].unique()), "\n", x[col_name].value_counts(), "\n")

Timestamp
 [1352196906000000 1352196925000000 1352196945000000 1352196966000000
 1352196986000000 1352197005000000 1352197025000000 1352197046000000
 1352197076000000 1352197097000000 1352197115000000 1352197136000000
 1352197156000000 1352197175000000 1352197195000000 1352197218000000
 1352197357000000 1352197396000000 1352197476000000 1352197496000000
 1352197637000000 1352197717000000 1352197816000000 1352197877000000
 1352197977000000 1352198076000000 1352198137000000 1352198244000000
 1352198364000000 1352198387000000 1352198407000000 1352198444000000
 1352198487000000 1352198506000000 1352198526000000 1352198685000000
 1352198706000000 1352198888000000 1352198904000000 1352198925000000
 1352198948000000 1352199064000000 1352199087000000 1352199306000000
 1352199345000000 1352199388000000 1352199425000000 1352199445000000
 1352199466000000 1352199484000000 1352199505000000 1352199562000000
 1352199566000000 1352199646000000 1352199664000000 1352199705000000
 1352199767000000 1352199865000000 1352200207000000 1352200225000000
 1352200244000000 1352200264000000 1352200266000000 1352200285000000
 1352200305000000 1352200326000000 1352200328000000 1352200344000000
 1352200365000000 1352200385000000 1352200387000000 1352200406000000
 1352200424000000 1352200444000000]
 number of unique values: 74
 1352198888000000    1
1352200424000000    1
1352200305000000    1
1352197076000000    1
1352199505000000    1
1352199345000000    1
1352196925000000    1
1352197115000000    1
1352199566000000    1
1352198925000000    1
1352197195000000    1
1352196986000000    1
1352200266000000    1
1352198904000000    1
1352199705000000    1
1352199767000000    1
1352197097000000    1
1352197816000000    1
1352197396000000    1
1352196945000000    1
1352197637000000    1
1352197136000000    1
1352197717000000    1
1352199646000000    1
1352200328000000    1
1352197175000000    1
1352198706000000    1
1352198137000000    1
1352197357000000    1
1352200244000000    1
                   ..
1352198387000000    1
1352200326000000    1
1352199445000000    1
1352198407000000    1
1352200264000000    1
1352197218000000    1
1352200387000000    1
1352200385000000    1
1352199865000000    1
1352200225000000    1
1352197877000000    1
1352198076000000    1
1352197156000000    1
1352198364000000    1
1352199425000000    1
1352198685000000    1
1352200406000000    1
1352200444000000    1
1352199087000000    1
1352199306000000    1
1352199484000000    1
1352197025000000    1
1352197005000000    1
1352199388000000    1
1352198526000000    1
1352198948000000    1
1352198487000000    1
1352198444000000    1
1352197476000000    1
1352198506000000    1
Name: Timestamp, Length: 74, dtype: int64

LineID
 [1.0 '1']
 number of unique values: 2
 1.0    53
1      21
Name: LineID, dtype: int64

JourneyPatternID
 ['00010001']
 number of unique values: 1
 00010001    74
Name: JourneyPatternID, dtype: int64

Date
 ['2012-11-06']
 number of unique values: 1
 2012-11-06    74
Name: Date, dtype: int64

VehicleJourneyID
 [5425]
 number of unique values: 1
 5425    74
Name: VehicleJourneyID, dtype: int64

Operator
 ['RD']
 number of unique values: 1
 RD    74
Name: Operator, dtype: int64

Congestion
 [0]
 number of unique values: 1
 0    74
Name: Congestion, dtype: int64

Long.
 [-6.26195  -6.26219  -6.251322 -6.249222 -6.246041 -6.242439 -6.245068
 -6.250914 -6.252235 -6.254246 -6.255481 -6.257374 -6.25885  -6.26098
 -6.262354 -6.263332 -6.26203  -6.259525 -6.25614  -6.245327 -6.242437
 -6.239623 -6.236396 -6.233049 -6.2332   -6.233183 -6.226732 -6.22307
 -6.222435 -6.216416 -6.207346]
 number of unique values: 31
 -6.207346    16
-6.261950     8
-6.262190     8
-6.259525     4
-6.236396     3
-6.263332     3
-6.260980     3
-6.226732     2
-6.246041     2
-6.262030     2
-6.256140     2
-6.233049     2
-6.255481     1
-6.262354     1
-6.233200     1
-6.242437     1
-6.254246     1
-6.222435     1
-6.245327     1
-6.257374     1
-6.258850     1
-6.242439     1
-6.233183     1
-6.245068     1
-6.249222     1
-6.216416     1
-6.223070     1
-6.250914     1
-6.239623     1
-6.252235     1
-6.251322     1
Name: Long., dtype: int64

Lat.
 [ 53.391151  53.391178  53.391087  53.389858  53.389191  53.38657
  53.381519  53.37516   53.373093  53.369949  53.367157  53.363998  53.3624
  53.360065  53.358669  53.357899  53.353359  53.348591  53.34597
  53.343327  53.342896  53.342545  53.342167  53.341717  53.341801
  53.34182   53.339077  53.337532  53.333111  53.325611]
 number of unique values: 30
 53.325611    16
53.391178     8
53.391151     8
53.348591     4
53.342167     3
53.357899     3
53.360065     3
53.341717     2
53.345970     2
53.353359     2
53.341801     2
53.389191     2
53.341820     2
53.369949     1
53.358669     1
53.342545     1
53.339077     1
53.391087     1
53.337532     1
53.342896     1
53.362400     1
53.373093     1
53.343327     1
53.389858     1
53.363998     1
53.367157     1
53.381519     1
53.333111     1
53.386570     1
53.375160     1
Name: Lat., dtype: int64

Delay
 [-176 -156 -136 -116  -96  -76  -56  -36    0   14   11   34   54   57  -11
  -91 -115 -138 -107 -145 -109  -95  -72  -52 -151 -131 -111 -144 -222 -241
 -276 -247 -182 -198 -256 -274 -186 -126  -66   -6]
 number of unique values: 40
  0      6
-276    5
-6      4
-186    4
-126    4
-66     4
-247    3
-76     2
-136    2
 11     2
-36     2
-56     2
-182    2
-91     2
-111    2
-116    2
-95     2
-107    2
-131    1
-115    1
-138    1
-11     1
-241    1
 14     1
-144    1
-145    1
-274    1
-109    1
-151    1
-72     1
-156    1
 34     1
-176    1
-52     1
-96     1
 54     1
 57     1
-222    1
-198    1
-256    1
Name: Delay, dtype: int64

BlockID
 [1001]
 number of unique values: 1
 1001    74
Name: BlockID, dtype: int64

VehicleID
 [33494]
 number of unique values: 1
 33494    74
Name: VehicleID, dtype: int64

StopID
 ['226' '227' '230' '231' '1641' '213' '119' '44' '45' '46' '47' '48' '49'
 '50' '51' '265' '271' '340' '351' '352' '353' '354' '355' '356' '357'
 '390' '374' '378']
 number of unique values: 28
 226     16
378     16
355      4
271      4
354      3
49       3
51       3
265      2
340      2
231      2
356      2
351      1
374      1
119      1
1641     1
44       1
47       1
227      1
352      1
357      1
48       1
213      1
46       1
390      1
45       1
230      1
50       1
353      1
Name: StopID, dtype: int64

At_Stop
 [1]
 number of unique values: 1
 1    74
Name: At_Stop, dtype: int64

# View any route, VPID and/or VJID on Nov, 6th, 2017

In [40]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key="AIzaSyBMJiAikQaBY50phNnn2W5oAfWU-4H4jjI") # Your Google API key

coords = ["Lat.", "Long."]
locations = dfUnique[coords]

fig = gmaps.figure()
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

In [41]:
dfROneX = df3.loc[df2["JourneyPatternID"] == "00010001"]
dfROneY = df3.loc[df2["JourneyPatternID"] == "00011001"]
dfROne3 = df3.loc[df2["JourneyPatternID"] == "00010003"]
dfROne2 = df3.loc[df2["JourneyPatternID"] == "00011002"]
print("done!")

done!

In [42]:
#dfROneY.unique() #for jpid 00011001
for col_name in dfROneX[categ_cols]:
    print(col_name, "\n", dfROneX[col_name].unique(), "\n", "number of unique values:", len(dfROneX[col_name].unique()), "\n",  dfROneX[col_name].value_counts(), "\n")

LineID
 [1.0 '1']
 number of unique values: 2
 1.0    1896
1       452
Name: LineID, dtype: int64

JourneyPatternID
 ['00010001']
 number of unique values: 1
 00010001    2348
Name: JourneyPatternID, dtype: int64

Date
 ['2012-11-06']
 number of unique values: 1
 2012-11-06    2348
Name: Date, dtype: int64

VehicleJourneyID
 [5461 5494 5512 5462 5444 5425 5495 5513 5482 5463 5496 5514 5446 5427 5484
 5447 5465 5498 5428 5516 5466 5448 5499 5429 5486 5449 5467 5430 5500 5487
 5518 5450 5431 5488 5469 5502 5489 5520 5452 5433 5490 5471 5504 5454 5435
 5473 5506 5456 5437 5475]
 number of unique values: 50
 5456    91
5486    87
5437    86
5435    74
5425    74
5467    72
5461    72
5490    71
5446    70
5484    69
5516    69
5498    69
5473    68
5500    67
5427    65
5475    63
5520    62
5471    62
5429    61
5463    61
5496    60
5448    60
5482    60
5514    59
5506    58
5504    58
5452    57
5512    53
5444    52
5502    51
5488    51
5450    46
5454    44
5518    41
5465    41
5469    37
5433    33
5494    32
5431    31
5430     1
5513     1
5462     1
5466     1
5499     1
5447     1
5449     1
5487     1
5489     1
5495     1
5428     1
Name: VehicleJourneyID, dtype: int64

Operator
 ['RD' 'CD']
 number of unique values: 2
 RD    2172
CD     176
Name: Operator, dtype: int64

Congestion
 [0]
 number of unique values: 1
 0    2348
Name: Congestion, dtype: int64

BlockID
 [1003 1005 1006 1002 1001 1004]
 number of unique values: 6
 1003    478
1001    426
1002    422
1005    397
1004    340
1006    285
Name: BlockID, dtype: int64

VehicleID
 [38004 33493 33495 33211 38001 33494 38003 33521]
 number of unique values: 8
 33211    428
33494    426
38001    422
33493    397
38003    340
33521    176
33495    109
38004     50
Name: VehicleID, dtype: int64

StopID
 ['226' '231' '1641' '1642' '47' '49' '51' '265' '227' '230' '271' '340'
 '350' '213' '352' '119' '353' '354' '44' '355' '48' '229' '52' '380'
 '4432' '45' '381' '50' '356' '357' '374' '372' '351' '46' '390' '214'
 '378' '373' '377' '228' '375' '2804' '376' '4451']
 number of unique values: 44
 380     638
226     496
271     196
340     100
265      81
378      59
49       55
354      51
352      43
374      43
355      42
356      36
45       34
357      32
48       30
353      30
351      29
213      27
231      26
47       24
51       21
52       20
44       19
350      19
46       19
390      18
227      18
229      17
4432     16
372      16
1642     15
119      14
1641     11
381      10
214       9
377       6
50        6
230       5
373       5
2804      4
376       3
375       3
4451      1
228       1
Name: StopID, dtype: int64

At_Stop
 [1]
 number of unique values: 1
 1    2348
Name: At_Stop, dtype: int64

In [43]:
dfUniqueX = dfROneX.loc[dfROneX["VehicleJourneyID"] == 5425] #Tuesday, November 6, 2012 10:15:06 AM BLOCK 1001
#dfUniqueX = dfROneX.loc[dfROneX["VehicleJourneyID"] == 5512] #Tuesday, November 6, 2012 9:41:05 AM BLOCK 1006
# # dfUniqueY = dfROneY.loc[dfROneY["VehicleJourneyID"] == 5425]
# # dfUnique2 = dfROne2.loc[dfROne2["VehicleJourneyID"] == 5425]
# # dfUnique3 = dfROne3.loc[dfROne3["VehicleJourneyID"] == 5425]
# # dfUnique.describe(include = 'all').T
# for col_name in dfUniqueY[categ_cols]:
#     print(col_name, "\n", dfUniqueY[col_name].unique(), "\n")

In [44]:
dfUniqueX.head(4)

,Timestamp,LineID,JourneyPatternID,Date,VehicleJourneyID,Operator,Congestion,Long.,Lat.,Delay,BlockID,VehicleID,StopID,At_Stop
489026,1352196906000000,1,00010001,2012-11-06,5425,RD,0,-6.26195,53.391151,-176,1001,33494,226,1
489699,1352196925000000,1,00010001,2012-11-06,5425,RD,0,-6.26195,53.391151,-156,1001,33494,226,1
490277,1352196945000000,1,00010001,2012-11-06,5425,RD,0,-6.26195,53.391151,-136,1001,33494,226,1
491019,1352196966000000,1,00010001,2012-11-06,5425,RD,0,-6.26195,53.391151,-116,1001,33494,226,1

In [45]:
 dfUniqueX.describe(include='all')

,Timestamp,LineID,JourneyPatternID,Date,VehicleJourneyID,Operator,Congestion,Long.,Lat.,Delay,BlockID,VehicleID,StopID,At_Stop
count,7.400000e+01,74.0,74,74,74.0,74,74.0,74.000000,74.000000,74.000000,74.0,74.0,74,74.0
unique,NaN,2.0,1,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,28,NaN
top,NaN,1.0,00010001,2012-11-06,NaN,RD,NaN,NaN,NaN,NaN,NaN,NaN,226,NaN
freq,NaN,53.0,74,74,NaN,74,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN
mean,1.352199e+15,NaN,NaN,NaN,5425.0,NaN,0.0,-6.242082,53.357146,-110.472973,1001.0,33494.0,NaN,1.0
std,1.221250e+09,NaN,NaN,NaN,0.0,NaN,0.0,0.021726,0.025012,91.135639,0.0,0.0,NaN,0.0
min,1.352197e+15,NaN,NaN,NaN,5425.0,NaN,0.0,-6.263332,53.325611,-276.000000,1001.0,33494.0,NaN,1.0
25%,1.352197e+15,NaN,NaN,NaN,5425.0,NaN,0.0,-6.261950,53.339737,-180.500000,1001.0,33494.0,NaN,1.0
50%,1.352199e+15,NaN,NaN,NaN,5425.0,NaN,0.0,-6.251118,53.350975,-110.000000,1001.0,33494.0,NaN,1.0
75%,1.352200e+15,NaN,NaN,NaN,5425.0,NaN,0.0,-6.223985,53.389191,-40.000000,1001.0,33494.0,NaN,1.0
max,1.352200e+15,NaN,NaN,NaN,5425.0,NaN,0.0,-6.207346,53.391178,57.000000,1001.0,33494.0,NaN,1.0

In [46]:
for col_name in dfUniqueX[categ_cols]:
    #print(col_name, "\n", dfUniqueX[col_name].unique(), "\n")
    print(col_name, "\n", dfUniqueX[col_name].unique(), "\n", "number of unique values:", len(dfUniqueX[col_name].unique()), "\n", dfUniqueX[col_name].value_counts(), "\n")

LineID
 [1.0 '1']
 number of unique values: 2
 1.0    53
1      21
Name: LineID, dtype: int64

JourneyPatternID
 ['00010001']
 number of unique values: 1
 00010001    74
Name: JourneyPatternID, dtype: int64

Date
 ['2012-11-06']
 number of unique values: 1
 2012-11-06    74
Name: Date, dtype: int64

VehicleJourneyID
 [5425]
 number of unique values: 1
 5425    74
Name: VehicleJourneyID, dtype: int64

Operator
 ['RD']
 number of unique values: 1
 RD    74
Name: Operator, dtype: int64

Congestion
 [0]
 number of unique values: 1
 0    74
Name: Congestion, dtype: int64

BlockID
 [1001]
 number of unique values: 1
 1001    74
Name: BlockID, dtype: int64

VehicleID
 [33494]
 number of unique values: 1
 33494    74
Name: VehicleID, dtype: int64

StopID
 ['226' '227' '230' '231' '1641' '213' '119' '44' '45' '46' '47' '48' '49'
 '50' '51' '265' '271' '340' '351' '352' '353' '354' '355' '356' '357'
 '390' '374' '378']
 number of unique values: 28
 226     16
378     16
355      4
271      4
354      3
49       3
51       3
265      2
340      2
231      2
356      2
351      1
374      1
119      1
1641     1
44       1
47       1
227      1
352      1
357      1
48       1
213      1
46       1
390      1
45       1
230      1
50       1
353      1
Name: StopID, dtype: int64

At_Stop
 [1]
 number of unique values: 1
 1    74
Name: At_Stop, dtype: int64

In [47]:
# for col_name in dfUnique2[categ_cols]:
#     print(col_name, "\n", dfUnique2[col_name].unique(), "\n")

In [48]:
# for col_name in dfUnique3[categ_cols]:
#     print(col_name, "\n", dfUnique3[col_name].unique(), "\n")

In [49]:
coords = ["Lat.", "Long."]
locations = dfROneX[coords]

fig = gmaps.figure()
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

In [50]:
dfUniqueX.dtypes

Timestamp             int64
LineID               object
JourneyPatternID     object
Date                 object
VehicleJourneyID      int64
Operator             object
Congestion            int64
Long.               float64
Lat.                float64
Delay                 int64
BlockID               int64
VehicleID             int64
StopID               object
At_Stop               int64
dtype: object

Clean out outliers like 451. Choose single direction. Low freq == error input. 
Route '1z' == '00010001', direction is heading south.

In [51]:
dfUniqueX.head(3)

,Timestamp,LineID,JourneyPatternID,Date,VehicleJourneyID,Operator,Congestion,Long.,Lat.,Delay,BlockID,VehicleID,StopID,At_Stop
489026,1352196906000000,1,00010001,2012-11-06,5425,RD,0,-6.26195,53.391151,-176,1001,33494,226,1
489699,1352196925000000,1,00010001,2012-11-06,5425,RD,0,-6.26195,53.391151,-156,1001,33494,226,1
490277,1352196945000000,1,00010001,2012-11-06,5425,RD,0,-6.26195,53.391151,-136,1001,33494,226,1

In [52]:
dfROneX.head(3)

,Timestamp,LineID,JourneyPatternID,Date,VehicleJourneyID,Operator,Congestion,Long.,Lat.,Delay,BlockID,VehicleID,StopID,At_Stop
324229,1352192100000000,1,00010001,2012-11-06,5461,RD,0,-6.261933,53.391216,-240,1003,38004,226,1
324989,1352192123000000,1,00010001,2012-11-06,5461,RD,0,-6.261933,53.391216,-220,1003,38004,226,1
325656,1352192141000000,1,00010001,2012-11-06,5461,RD,0,-6.261933,53.391216,-200,1003,38004,226,1